 @charset "UTF-8";
/* CSS Document */

/*/
 *
 * Parallax Scrolling Tutorial
 * www.richardshepherd.com
 *
 * Background Patterns
 * www.subtle patterns.com
 *
/*/



.story { 
	height:660px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	}


#first { background:url(../img/subtle-patterns/tapestry_pattern.png) 50% bottom repeat fixed; }
#second { background: url(../img/subtle-patterns/brillant.png) 50% 0 repeat fixed; }
#last { background: url(../img/subtle-patterns/subtle_dots.png) 50% 0 repeat fixed; border-top:1px solid rgba(179,185,187,0.1); }

/* Home */
#first .logo { background: url("http://placehold.it/300x300") 20% 100px no-repeat fixed;  padding: 0; min-height: 300px; width: 100%; max-width: 1920px; position: absolute; top:0; z-index:99999; }
#first .flourish { background: url("http://placehold.it/500x500") 40% 100px no-repeat fixed; min-height: 500px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#first article { width: 100%; top: 100px; position: absolute; background: rgba(255,255,255,0.2); }


/* Work */
#second { padding: 50px 0;}
#second article { background: url(WORKBG.png) repeat #333; color: #fff; width: 445px; margin-left: 100px; padding: 10px 20px; }


/* Footer */
#theend .byebye { background: url(../images/theend.png) 40% 100px no-repeat fixed; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }


