 @charset "UTF-8";
/* CSS Document */

/*/
 * Parallax Scrolling Tutorial
 * www.richardshepherd.com
/*/



.story { 
	height:660px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	background: -moz-linear-gradient(top, rgba(255,255,255,0), white);
	background: -moz-linear-gradient(to bottom, white, rgba(255,255,255,0)); 
	background: -ms-linear-gradient(top, rgba(255,255,255,0), white); 
	background: -o-linear-gradient(bottom,white, rgba(255,255,255,0)); 
	background: -webkit-linear-gradient(top, rgba(255,255,255,0), white) !important;
	}


#first { background: url("http://placehold.it/1500x1500") 50% 0 no-repeat fixed; }
#second { background: url("http://placehold.it/1500x1000") 50% 0 repeat fixed; }
#theend { background: url("http://placehold.it/1500x400") 50% bottom no-repeat fixed; }

/* Home */
#first .flourish { background: url("http://placehold.it/500x500") 40% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#first article { width: 100%; top: 100px; position: absolute; }


/* Work */
#second { padding: 50px 0;}
#second article { background: url(WORKBG.png) repeat #333; color: #fff; width: 445px; margin-left: 100px; padding: 10px 20px; }


/* Footer */
#theend .byebye { background: url(../images/theend.png) 40% 100px no-repeat fixed; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }


